div{
    background-color: lightpink;
    height: 500px;
    width: 600;
    text-align: center;
    margin: 200px 750px;
    border: 10px solid antiquewhite;
}

img{
    height: 300px;
    width: 300px;
    border: 5px solid antiquewhite;
    margin: 20px;
    
}

h1{
    color: antiquewhite;
    font-family: 'Dancing Script', cursive;
}

h3{
    font-family: 'Dancing Script', cursive;
    word-spacing: 5px;
}

strong{
    color: antiquewhite;
}

